<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700%7CRoboto%7CJosefin+Sans:100,300,400,500" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-elite navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Elite</a>
          <div class="dropdown">
            <button class="dropbtn">Dropdown</button>
            <i class="fa fa-caret-down" aria-hidden="true"></i>
            <div class="dropdown-content">
              <a href="/login">Sign In</a>
              <a href="/register">Sign Up</a>
              <a href="/forum">Forums</a>
            </div>
          </div>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#showcase">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#how-it-works">How It Works</a></li>
            <li><a href="#benefits">Benefits</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <header id="showcase-image">

      <a href="#" class="button">Get Started</a>
    </header>

    <section id="showcase">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="showcase-left">
              <img src="img/3max.jpg">
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="showcase-right">
              <h1>Elevate your game with the Xbox Elite Controller</h1>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
            <br>
            <a class="btn btn-default btn-lg showcase-btn">Read More</a>
          </div>
        </div>
      </div>
    </section>

    <section id="testimonial">
      <div class="container">
        <p>"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book."</p>
        <p class="customer">- John Doe</p>
      </div>
    </section>

    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-md-5 col-sm-5">
            <div class="info-left">
              <h2>Get To Know The Elite Controller</h2>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
              <br>
              <a class="btn btn-default btn-lg">Read More</a>
            </div>
          </div>
          <div class="col-md-7 col-sm-7">
            <div class="info-right">
              <img src="img/controllerback.jpeg">
            </div>
          </div>
        </div>
      </div>
    </section>
    <hr>
    <section id="info2">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="review-left">
              <h2>Info Block One</h2>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="review-right">
              <h2>Info Block Two</h2>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <hr>
    <section id="how-it-works">
      <div class="container">
        <div class="row">
          <div class="col-md-7 col-sm-7">
            <div class="how-left">
              <img src="img/elite2.jpg">
            </div>
          </div>
          <div class="col-md-5 col-sm-5">
            <div class="how-right">
              <h2>How it works</h2>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
              <br>
              <a class="btn btn-default btn-lg">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="testimonial">
      <div class="container">
        <p>"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book."</p>
        <p class="customer">- John Doe</p>
      </div>
    </section>

    <section id="benefits">
      <div class="container">
        <div class="row">
          <div class="col-md-5 col-sm-5">
            <div class="benefits-right">
              <h2>Benefits of the Elite Controller</h2>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
              <br>
              <a class="btn btn-default btn-lg">Read More</a>
            </div>
          </div>
          <div class="col-md-7 col-sm-7">
            <div class="benefits-left">
              <img src="img/elitecontroller.jpeg">
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-md-5 col-sm-5">
            <form>
              <div class="form-group">
                <label>Name: </label>
                <input class="form-control" type="text" name="" value="" placeholder="Enter Name">
              </div>
              <div class="form-group">
                <label>Email: </label>
                <input class="form-control" type="text" name="" value="" placeholder="Enter Email">
              </div>
              <div class="form-group">
                <label>Message: </label>
                <textarea class="form-control" name="" value="" placeholder="Enter Message"></textarea>
              </div>
              <button class="btn btn-default">Submit</button>
            </form>
          </div>
          <div class="col-md-7 col-sm-7">

          </div>
        </div>
      </div>
    </section>

    <footer>
      <p class="text-center">Elite Copyright &copy; 2018</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script>
      window.sr = ScrollReveal();

      sr.reveal('.showcase-left', {
        duration: 2000,
        origin: 'left',
        distance: '300px'
      });

      sr.reveal('.showcase-right', {
        duration: 2000,
        origin: 'right',
        distance: '300px'
      });

      sr.reveal('.showcase-btn', {
        duration: 2000,
        delay: 1500,
        origin: 'bottom'
      });

      sr.reveal('#testimonial div', {
        duration: 2000,
        origin: 'bottom'
      });

      sr.reveal('.info-left', {
        duration: 2000,
        origin: 'left',
        distance: '300px',
        viewFactor: 0.2
      });

      sr.reveal('.info-right', {
        duration: 2000,
        origin: 'right',
        distance: '300px',
        viewFactor: 0.2
      });

      sr.reveal('.review-left', {
        duration: 2000,
        origin: 'left',
        distance: '300px',
        viewFactor: 0.2
      });

      sr.reveal('.review-right', {
        duration: 2000,
        origin: 'right',
        distance: '300px',
        viewFactor: 0.2
      });

      sr.reveal('.benefits-right', {
        duration: 2000,
        origin: 'bottom',
        distance: '300px',
        viewFactor: 0.2
      });

      sr.reveal('.benefits-left', {
        duration: 2000,
        origin: 'right',
        distance: '300px',
        viewFactor: 0.2
      });

      sr.reveal('.how-left', {
        duration: 2000,
        origin: 'bottom',
        distance: '300px',
        viewFactor: 0.2
      });

      sr.reveal('.how-right', {
        duration: 2000,
        origin: 'bottom',
        distance: '300px',
        viewFactor: 0.2
      });
    </script>

    <script>
      $(function() {
      // Smooth Scrolling
        $('a[href*="#"]:not([href="#"])').click(function() {
          if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
            if (target.length) {
              $('html, body').animate({
                scrollTop: target.offset().top
              }, 1000);
              return false;
            }
          }
        });
        $(window).scroll(function() {
          let scrollLength = $(this).scrollTop();
          if(scrollLength >= $('#showcase').offset().top - 50 && scrollLength <= $('#about').offset().top - 50) {
            $('#navbar').find('li>a').removeClass('active')
            $('#navbar').find('li:nth-of-type(1)>a').addClass('active')
          }
          else if(scrollLength >= $('#about').offset().top - 50 && scrollLength <= $('#how-it-works').offset().top - 50) {
            $('#navbar').find('li>a').removeClass('active')
            $('#navbar').find('li:nth-of-type(2)>a').addClass('active')
          }
          else if(scrollLength >= $('#how-it-works').offset().top - 50 && scrollLength <= $('#benefits').offset().top - 50) {
            $('#navbar').find('li>a').removeClass('active')
            $('#navbar').find('li:nth-of-type(3)>a').addClass('active')
          }
          else if(scrollLength >= $('#benefits').offset().top - 50 && scrollLength <= $('#contact').offset().top - 200) {
            $('#navbar').find('li>a').removeClass('active')
            $('#navbar').find('li:nth-of-type(4)>a').addClass('active')
          }
          else if(scrollLength >= $('#contact').offset().top - 200) {
            $('#navbar').find('li>a').removeClass('active')
            $('#navbar').find('li:nth-of-type(5)>a').addClass('active')
          }
          else {
            $('#navbar').find('li>a').removeClass('active')
          }
        })
      });
    </script>
  </body>
</html>
















