.card {
  width: 90%;
  margin: auto;
}

#comment_area {
  width: 90%;
}

#formGroupExampleInput {
  margin-left: 4em;
}

.form-group {
  width: 85%;
  margin-left: 15px;
}

.form-group {
  button {
    margin-top: 10px;
    margin-left: 65px;
  }
}

#delete-comment {
  float: right;
}

