body {
  background-color: currentColor;
}

.card {
  width: 90%;
  margin: auto;
}

#comment_area {
  width: 90%;
}

#formGroupExampleInput {
  margin-left: 4em;
}

.form-group {
  width: 85%;
  margin-left: 15px;
}

.form-group {
  button {
    margin-top: 10px;
    margin-left: 65px;
  }
}

#delete-comment {
  float: right;
}

.coverHeader {
  height: 18rem;
  width: 100%;
  background: url(../img/space.jpg);
  background-size: cover;
}

.section-header {
  color: white;
  font-size: 4rem;
  font-weight: bold;
  margin-top: 5px;
  padding-top: 130px;
  margin-left: 20px;
}

.text-center {
  margin-top: 100px;
}

.commentButton {
  padding-left: 65px;
}

