body {
  margin-top: 100px;
  background-color: red;
}

.coverHeader {
  height: 18rem;
  width: 100%;
  background: url(../img/space.jpg);
  background-size: cover;
}

.grid {
  padding: 100px 0;
}

.section-header {
  color: white;
  font-size: 4rem;
  font-weight: bold;
  margin-top: 30px;
  margin-left: 20px;
}

.card {
  width: 90%;
  margin: auto;
}

.card-header {
  background-color: gainsboro;
}

.like {
  float: right;
  padding-right: 10px;
}

#topic_heading {
  display: inline;
}

.btn-success {
  float: right;
  margin: 20px;
  margin-right: 60px;
  background-color: white;
  border-radius: 50%;
}
.btn-primary {
  border-color: grey;
}

#delete-comment {
  float: right;
}

.alert-info {
/*  margin: auto;
  margin-top: 25px;
  width: 90%;*/
}

.alert-info {
  button {
    /*margin-top: 10px;*/
    background-color: grey;
    border-color:grey;
  }
}

#new-topics {
  background-color: currentColor;
  padding: 100px 0;
}
.link {
  color: black;
  text-decoration-line: none;
}
.link:hover {
  text-decoration-line: none;
}
#show_form {
  /*margin-top: 80px;*/
  margin: 0;
  background-color: #d1e3f1;
  border-color: #d1e3f1;
}



