.card {
  width: 90%;
  margin: auto;
}

.like {
  float: right
}

#show_form {
  margin-top: 80px;
}

#topic_heading {
  display: inline;
}

.btn-secondary {
  float: right;
  margin: 10px;
}

.alert-info {
  margin: auto;
  margin-top: 25px;
  width: 90%;
}

.alert-info {
  button {
    margin-top: 10px;
    background-color: grey;
  }
}

