body {
  margin-top: 100px;
}

.coverHeader {
  height: 18rem;
  width: 100%;
  background-color: lightgrey;
}

.grid {
  padding: 100px 0;
}

.section-header {
  margin-top: 30px;
  margin-left: 20px;
}

.card {
  width: 90%;
  margin: auto;
  margin-bottom: 30px;
}

.like {
  float: right
}

#show_form {
  margin-top: 80px;
}

#topic_heading {
  display: inline;
}

.btn-secondary {
  float: right;
  margin: 10px;
  margin-right: 60px;
}

.alert-info {
  margin: auto;
  margin-top: 25px;
  width: 90%;
}

.alert-info {
  button {
    margin-top: 10px;
    background-color: grey;
  }
}

